.container1{
    border: 2px solid none ;
    border-radius: 7px;
    background-color: aqua;
    box-shadow: 10px 15px 6px rgb(28, 223, 213);
    padding: 10px;
    margin-bottom: 50px;
}
.container2{
    border: 2px solid none ;
    border-radius: 7px;
    background-color: rgb(153, 0, 255);
    box-shadow: 10px 15px 6px rgb(223, 28, 223);
    padding: 10px;
    margin-bottom: 45px;
}
.container3{
    border: 2px solid none ;
    border-radius: 7px;
    background-color: rgb(60, 255, 0);
    box-shadow: 10px 15px 6px rgb(28, 223, 87);
    padding: 10px;
    margin: 10px;
}