.title > h3{
      text-align: center;
}
.flex-item{
    background-color: aqua;
    padding: 10px;
    margin: 15px;
    height: 100px;
    width: 50px;
    text-align: center;

}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
}