#but1{
    padding: 25px;/* T R B L*/
    margin: 75px 0 0 50px;/* T R B L*/
    border-radius: 150px;
}
#but2{
    padding: 10px 20px 10px 20px;/* T R B L*/
    margin: 0 0 0 75px;
    border-radius: 150px;
}