*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#000;
    color:white;
}

.services{
    width:100%;
    min-height:100vh;
    padding:80px 10%;
}

.heading{
    text-align:center;
    font-size:50px;
    margin-bottom:60px;
}

.heading span{
    color:#d4af37;
}

.service-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.card{
    width:320px;
    background:#111;
    border:2px solid #d4af37;
    border-radius:15px;
    padding:30px;
    text-align:center;
    transition:0.4s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 20px #d4af37;
}

.card h2{
    color:#d4af37;
    margin-bottom:20px;
}

.card p{
    color:#d9d9d9;
    line-height:1.7;
}