body{
    background-color: rgb(116, 109, 18);
}
.image1{
    display: flex;
       
    width: 100%;
    margin: 100px 0 0 100px ;
    
}
.image1 img{
    width:350px;
    height:450px;
    border-radius: 15px;
    position: absolute;
}
.v1{
    left:0px;
}
.v2{
    left: 260px;
    top: 400px;   
}
.v3{
      left: 450px;
    top: 650px; 
}

.v4{
    left: 600px;
    top: 850px; 
}

.v5{
      
    left: 750px;
    top: 1050px; 
}

.v6{
     
    left: 950px;
    top: 1300px; 
}